body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: geometricPrecision;
    background: #f5f5f5;
    font-weight: 300;
}

h1, h2 {
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
}

h2 {
    margin-top: 50px;
}

h1 > strong {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #3cafe4;
    font-weight: 400;
}

.secret-key {
    text-decoration: underline;
}

.code {
    background: #272822;
    color: #ffffff;
    padding: 10px;
}

.tagged {
    font-size: 14px;
    border: 1px solid #e1e1e1;
    padding: 2px;
    display: inline-block;
    border-radius: 3px;
    background: #f7f7f7;
    color: #CC2255;
    font-style: normal;
}

.wrapper {
  text-align: center;
}

.inner-wrapper {
    text-align: left;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.terminal-window {
  display: inline-block;
  text-align: left;
  width: 500px;
  max-width: 90%;
  height: 360px;
  border-radius: 10px;
  margin: auto 10px;
  position: relative;
}

.terminal-2 {
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    opacity: 0;
    max-width: 0;
    max-height: 0;
}

.terminal-2.show {
    opacity: 1;
    max-width: 90%;
    max-height: 100000px;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #272822;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}